.lang-box{
    padding: 7px 15px ;
    border: 1px solid black;
    border-radius: 2px;
    margin: 20px 30px;
}
.lang-back{
    /* background-color:rgb(142, 213, 251); */
    /* width: 90%; */
    /* color:brown; */
    /* margin: 10px 10px 10px 50px; */
}